@charset "UTF-8"
@import "_sass/theme-colors"

//! error-page

.error-page
    background-image: url("../../assets/images/SlideBar-theme.gif")
    h1, p
        color: $primary-theme-color
        text-shadow: 3px 3px $shadow-theme-color
    button
        background-color: $primary-theme-color
        color: $shadow-theme-color

//! @media: error-page

@media (max-width:1024px)
    .error-page
        background-image: url("../../assets/images/SlideBar_Media-theme.gif")