<!DOCTYPE html>
 <html type="text/html">
  <head>
   <!--meta-->
    <meta charset = "utf-8"/>
    <meta name = "author" content = "Youssef Over"/>
    <meta name = "copyright" content = "2023"/>
    <meta name = "copyrights" content = "true"/>
    <meta name = "robots" content = "noindex"/>
    <meta name = "google" content = "notranslate"/>
    <meta property = "og:type" content = "form"/>
    <meta property = "og:site_name" content = "MRQ"/>
    <meta property = "og:url" content = "https://mrq.net4.repl.co/select.html"/>
    <meta property = "og:title" content = "استبيان العمل الطبي"/>
    <meta property = "og:description" content = "في المانيا والسعودية والإمارات وعمان"/>
    <meta property = "ogimage" content = "https://mrq.net4.repl.co/assets/i.png"/>
   <!--link-->
    <link rel="icon" type="image.png" href="https://mrq.net4.repl.co/assets/i.png"/>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <link rel="stylesheet" media="all" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css"/>
   <!--title-->
    <title>استبيان العمل الطبي</title>
   <!--script-->
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script type="application/javascript" src="../main.js" async></script>
    <noscript>لفتح الاستبيان (JavaScript) الرجاء فتح الجافا سكريبت</noscript>
  </head>
  <body>
   <!--wait-->
		<div class="wait">
		 <span>
		  <p><embed src="../assets/wait.svg"></embed>جارِ التحميل...</p>
		 </span>
		</div>
   <!--container-->
    <div class="_container">
     <!--header-->
      <header>
       <!--time-->
        <nav class="time">
         <time></time>
        </nav>
       <!--switch-->
        <nav class="switch"></nav>
      </header>