@charset "UTF-8";

/*:colors*/

:root {
  --main: #185a50;
  --bg: #0ea68f;
  --text: #e6f6f3;
  --ad: #04241f;
  --footer: #021814;
}

/*switch*/

.switch {
  background-color: #422464;
}

/*main*/

main {
  background-image: url("../images/SlideBar-theme.gif");
}

/*@media: main*/

@media (max-width:1024px) {
  main {
   background-image: url("../images/SlideBar_Media-theme.gif");
  }
}

/*form*/

form div class > input, form div class > textarea {
  color: var(--main);
}

form div class > input::placeholder, form div class > textarea::placeholder {
  color: var(--bg);
}

form div class > select {
  color: var(--bg);
}